[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
openpyxl = "*"
allure-pytest = "*"
pytest-xdist = "*"
pytest-html = "*"
pytest = "==7.1.0"

[dev-packages]

[requires]
python_version = "3.11"
